<div class="container">
    
        <h3 class="h">Your Profile</h3>
        <div class="fo">
            <div class="f row mt-3">
                <label class="col-sm-2 ">Name :</label>
                <p class="col-sm-2">name</p>
            </div>
            <div class="f row mt-4">
                <label class="col-sm-2 ">Email :</label>
                <p class="col-sm-2">email</p>
            </div>
            <div class="f row mt-4">
                <label class="col-sm-2 ">Password :</label>
                <p class="col-sm-2">password</p>
            </div>
            <div class="f row  mt-4">
                <label class="col-sm-2 ">Contact :</label>
                <p class="col-sm-2">contact</p>
            </div>
            <div class="f row  mt-4">
                <label class="col-sm-2 ">Street :</label>
                <p class="col-sm-2">street</p>
            </div>
            <div class="f row  mt-4">
                <label class="col-sm-2 ">City :</label>
                <p class="col-sm-2">city</p>
            </div>
            <div class="f row  mt-4">
                <label class="col-sm-2 ">State :</label>
                <p class="col-sm-2">state</p>
            </div>
            <div class="b">
                <a class="btn btn-outline-primary rounded-pill b" routerLink="Edit">Edit Details</a>
            </div>
        </div>
    
</div>