<div class="container">
    <div class="jumbotron m">
        <h1 class="display-4 text-center">Hurray!!</h1>
        <p class="lead text-center">You have successfully purchased the product</p>
        <p class="lead text-center">Your product will be delivered shortly at your address</p>
        <hr class="my-4">
          <p class="lead"></p>
          <div class="at">
            <a class="btn btn-outline-primary rounded-pill btn-lg" routerLink="" role="button">Go to HomePage</a>
           </div>
      </div>    
</div>

